$primaryColor: #5e5e5e;
$secondaryColor: #f0f0f0;
$activeColor: #2ca1ff;
$blueColor: #008eff;
$whiteColor: #fff;
$blackColor: #000;

$mobile-width: 768px;
$tablet-width: 1024px;

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}
