$primaryColor: #050510;
$secondaryColor: #c3c3c6;
$tetriaryColor: #97979b;
$activePrimaryColor: #6534ff;
$errorColor: #f44336;
$bgSecondary: #f7f7f8;
$whiteColor: #fff;
$blackColor: #000;

$mainFont: 'Inter', sans-serif;

$mobile-width: 768px;
$tablet-width: 1024px;

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1300px;
  padding: 0 16px;
  margin: 0 auto;
}

.btn {
  display: inline-block;

  font-family: $mainFont;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #6534ff;
}
