@use 'scss' as *;

.header {
  &Container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 10px;
  }

  &Select {
    &:not(:last-child) {
      margin: 0 10px 0 0;
    }
  }
}
