@use 'scss' as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--white-color);
  color: var(--black-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

.wrapper {
  height: 100vh;
}
