@use 'scss' as *;

.task {
  height: 100vh;
  padding: 10px;

  &Container {
    height: 100%;
    padding: 20px;
    background: $secondaryColor;
    border-radius: 5px;
  }

  &Btn {
  }

  &List {
    display: flex;
    flex-direction: column;
  }

  &Item {
  }

  &Modal {
  }

  &Header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
  }

  &InputWrapper {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid $greyColor;

    &:not(:last-child) {
      margin: 0 0 10px 0;
    }
  }

  &Input {
    padding: 0;
    border: none;
    color: $primaryColor;
    text-transform: lowercase;
  }

  &Img {
    height: 20px;
    width: 20px;
    max-width: 100%;
    margin: 0 0 0 20px;
  }

  &Body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 10px 0;
  }

  &Footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
